{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{{ title }}</title>
    <link href="{% static 'fullshop/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <!-- Боковая панель соцсетей -->
    {% include "fullshop/includes/nav.html" %}

    <!-- Основная часть сайта -->
    <div class="main-content">
        <!-- Шапка -->
        <ul class="header">
            <li>
                <a href="{% url 'home' %}">Главная страница</a>
            </li>
            {% for page in menu %}
            <li>
                <a href="{% url page.url_name %}">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>

        <!-- Кнопка для открытия боковой панели -->
        <div class="social-bar-btn" id="toggle-btn">
            Social
        </div>

        <!-- Контент -->
        <main>
            {% block content %} {% endblock %}
        </main>
    </div>

    <script src="{% static 'fullshop/js/script.js' %}"></script>
</body>
</html>


