{% extends 'base.html' %}

{% block content %}

<h2>{{ title|title }}</h2>
<ul class="products">
    {% for product in info %}
    <li class="product-card">
        <div class="product-details">
            <h2>{{ product.title|title }}</h2>
            <p class="description">{{ product.content}}</p>
            <!-- <a href="{% url 'product' product.id %}" class="details-link">Подробнее</a> -->
            <a href="{{ product.get_absolute_url }}" class="details-link">Подробнее</a>

        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
