{% extends 'base.html' %}

{% block content %}

<ul class="products">
    {% for product in info %}
    {% if product.count > 0 %}
    <li class="product-card">
        <div class="product-details">
            <h2>{{ product.name|title }}</h2>
            <p class="description">{{ product.description }}</p>
            <p class="price">{{ product.price }} ₽</p>
            <a href="{% url 'product' product.id %}" class="details-link">Подробнее</a>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}

